<div class="moderation-message">{{ message }}</div>
<div class="moderation-time">
    <span class="moderation-time-label visually-hidden">{{ time_label }}</span>
    <span class="moderation-item-value">{{ time }}</span>
</div>
<div class="moderation-author">
    <span
        class="moderation-author-label visually-hidden"
    >
        {{- author_label -}}
    </span>
    <span class="moderation-item-value">{{ author }}</span>
</div>
